/* Theme Independent */
:root {
    /* Dark Colours (Theme Dependent) */
    color-scheme: dark;
    --mg: #1e1e2e;
    --fg: #181825;
    --fg-close: #11111b;
    --bg: #313244;
    --bg-far: #45475a;
    --accent: #eba0ac;
    --accent-soft: #f2cdcd;
    --text: #cdd6f4;
    --muted: #bac2de;
    --muted-deep: #585b70;
    --color-selection: #eba0ac40;
    --wip-bg: #f9e2af;

    /* Spaces */
    --wrap-normal: 42em;

    --line-height: 1.5;

    /* Icons */
    --external-link: url("/icons/external-link.svg");
}

/* Light Theme */
:root[data-theme="light"] {
    color-scheme: light;
    --mg: #eff1f5;
    --fg: #e6e9ef;
    --fg-close: #dce0e8;
    --bg: #ccd0da;
    --bg-far: #bcc0cc;
    --accent: #e64553;
    --accent-soft: #dc8a78;
    --text: #4c4f69;
    --muted: #5c5f77;
    --muted-deep: #acb0be;
    --color-selection: #e6455340;
    --wip-bg: #df8e1d;
}

/* Mains */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-size: 50%;
}

body {
    background-color: var(--mg);
    color: var(--text);
    line-height: var(--line-height);
    margin: 2vw auto 0 auto;
    padding: 2rem 0 24rem;
}

footer {
    margin: auto;
    width: 100%;
    max-width: var(--wrap-normal);
}

nav {
    margin: 0 auto 1.5em;
    width: 100%;
    max-width: var(--wrap-normal);
    font-family: var(--font-ui);
    font-size: calc(1.5rem + 0.25vw);
}

nav a {
    font-size: calc(2rem + 0.25vw);
}

/* Positions */
.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.align-center {
    align-items: center;
}

.wrap {
    max-width: var(--wrap-normal);
    margin: auto;
}

/* Styles */
.font-ui {
    font-family: var(--font-ui);
    font-size: calc(1.5rem + 0.25vw);
}

.font-content {
    font-family: var(--font-content);
    font-size: calc(1.5rem + 0.25vw);
}

.plain {
    text-decoration: none;
}

.muted,
.muted:visited {
    color: var(--muted);
}

.muted-deep {
    color: var(--muted-deep);
}

::selection {
    background: var(--color-selection);
}

a,
a:visited {
    color: inherit;
}

a:hover {
    color: var(--accent);
}

a[href^="http"]:not([href*="://lad.land"])::after,
a[href^="mailto:"]::after {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    margin-inline-start: 0.1em;
    background-color: currentColor;
    -webkit-mask: var(--external-link) center / contain no-repeat;
    mask: var(--external-link) center / contain no-repeat;
}
