---
import ThemeToggle from "../components/ThemeToggle.astro";
---

<nav class="flex align-center">
    <span class="flex-grow">
        <a class="internal-link plain" href="/">lad.</a>
    </span>
    <span class="flex-shrink">
        <a class="muted internal-link plain" href="/blog">blog.</a>
    </span>
    <ThemeToggle />
</nav>
