---
import { Sun, Moon } from "@lucide/astro";
---

<button
    type="button"
    role="switch"
    class="theme-toggle"
    onclick="toggleTheme()"
    aria-label="Toggle Theme"
>
    <span class="knob">
        <Moon class="icon icon-dark" />
        <Sun class="icon icon-light" />
    </span>
</button>

<style>
    .theme-toggle {
        --toggle-size: 1.5em;
        --toggle-pad: 0.15em;
        box-sizing: content-box;
        width: calc(var(--toggle-size) * 2);
        height: var(--toggle-size);
        padding: var(--toggle-pad);
        border: 0;
        border-radius: 0.75em;
        background: var(--bg);
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        transition: background 0.25s ease;
        position: relative;
        left: 0.5em;
    }

    .theme-toggle:hover .icon {
        color: var(--accent);
    }

    .knob {
        width: calc(var(--toggle-size) - 0%);
        height: calc(var(--toggle-size) - 10%);
        border-radius: 50%;
        background: var(--mg);
        display: grid;
        place-items: center;
        transition: transform 0.35s ease;
    }

    :root .theme-toggle .knob {
        transform: translateX(100%);
    }

    :root[data-theme="light"] .theme-toggle .knob {
        transform: translateX(0%);
    }

    .icon {
        grid-area: 1 / 1;
        width: 1em;
        height: 1em;
        color: var(--text);
        transition:
            opacity 0.3s ease,
            transform 0.3s ease,
            color 0.35s ease;
    }

    .icon-light {
        opacity: 0;
        transform: rotate(-45deg);
    }
    .icon-dark {
        opacity: 1;
        transform: rotate(0);
    }
    :root[data-theme="light"] .theme-toggle .icon-light {
        opacity: 1;
        transform: rotate(0);
    }
    :root[data-theme="light"] .theme-toggle .icon-dark {
        opacity: 0;
        transform: rotate(45deg);
    }

    @media (prefers-reduced-motion: reduce) {
        .theme-toggle,
        .knob,
        .icon {
            transition: none;
        }
    }
</style>
